<h1>HELLO WORLD!</h1>

<form action='/vacation/create' method='post'>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label>Location</label>
        <input type="text" name='location' class='form-control form-control-sm'>
      </div>
      <div class="col-md-4">
        <label>Method of Transporation</label>
        <input type="text" name="transportation_method" class='form-control form-control-sm'>
      </div>
      <div class="col-md-4">
        <label>Transporation Cost</label>
        <input type="text" name="transportation_cost" class='form-control form-control-sm'>
      </div>
    </div>
    <input type="submit" value="Save">
  </div>
<form>
